body {
    font-family: Arial, sans-serif;
    background-color: rgb(49, 47, 47); 
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgb(49, 47, 47);
    border-radius: 12px;
    box-shadow: (0 4px 15px rgba(0), 0, 0. 15);
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 25px;
}

input:focus {
    outline: none;
    border-color: #555;
}

br {
    display: none;
}

button {
    width: 97%;
    padding: 12px;
    margin-top: 15px;
    background-color: #222;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer; 
    
}

button:hover {
    background-color: #444;
}